@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syncopate:wght@700&family=Tourney:ital,wght@1,300&display=swap');

#logo {
    font-family: 'Syncopate', sans-serif;
    font-size: 300%;
    margin: 9px;
    float: left;
    color: #ea5315;
}

body {
    background-color: #373f4a;
    font-family: 'Roboto', sans-serif;
}

#nav-link,
#logo {
    line-height: 90px;
}

#nav-link {
    font-size: 115%;
    list-style-type: none;
    letter-spacing: 3px;
}

#nav-link li {
    float: right;
    margin-right: 15px;
}

#nav-link a:hover {
    color: black;
}

#nav-link a {
    text-decoration: none;
    color: #ea5315;
}

#hero {
    height: 400px;
    width: 100%;
    position: relative;
    background: url('../images/Professional\ Home\ Gym.jpeg') no-repeat center center;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}



#introduction {
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    border: 3px solid black;
    margin: 25px;
}

#square-border-one {
    height: 300px;
    width: 300px;
    border-style: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 2%;
    padding-bottom: 1%;
}

#square-img-one {
    background: url('../images/damir-spanic-SBf_Ab2_A0c-unsplash.jpg') no-repeat center center;
    height: 100%;
}

#text-feild-one {
    float: right;
    color: whitesmoke;
    text-align: center;
    border: 3px solid white;
    font-size: large;
}

#square-border-two {
    height: 300px;
    width: 300px;
    border-style: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 2%;
    padding-bottom: 1%;
}

#square-img-two {
    background: url('../images/brett-jordan-U2q73PfHFpM-unsplash.jpg') no-repeat center center;
    height: 100%;
}

#text-feild-two {
    float: right;
    color: whitesmoke;
    text-align: center;
    border: 3px solid white;
    font-size: large;
}

.social-links {
    list-style-type: none;
}

footer {
    width: 100%;
    height: 100px;
}

.social-links a {
    text-decoration: none;
}

.social-links li {
    display: inline;
}

.social-links {
    text-align: center;
}

.social-links i {
    font-size: 270%;
    color: lightslategray;
    padding: 5%;
    margin: 1%;
}

.social-links li i:hover {
    color: #ea5315;
}