@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syncopate:wght@700&family=Tourney:ital,wght@1,300&display=swap');

#logo {
    font-family: 'Syncopate', sans-serif;
    font-size: 400%;
    margin: 9px;
    float: left;
    color: #ea5315;
}

body {
    background-color: #373f4a;
    font-family: 'Roboto', sans-serif;
}

#nav-link,
#logo {
    line-height: 90px;
}

#nav-link {
    font-size: 150%;
    text-transform: capitalize;
    list-style-type: none;
    letter-spacing: 3px;
}

#nav-link li {
    float: right;
    margin-right: 15px;
}

#nav-link a:hover {
    color: black;
}

#nav-link a {
    text-decoration: none;
    color: #ea5315;
}

#hero {
    height: 400px;
    width: 100%;
    position: relative;
    background: url('../images/Professional\ Home\ Gym.jpeg') no-repeat center center;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}

#underline {
    clear: both;
    width: 100%;
    border: black solid 1px;
}

#welcome {
    text-transform: uppercase;
    font-family: 'Syncopate', sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: 300%;
    color: whitesmoke;
    text-decoration: underline;
    letter-spacing: 3px;
    padding: 3%;
}

#mission {
    text-transform: capitalize;
    text-decoration: underline;
    padding: 15px;
}

#introduction {
    color: #373f4a;
    font-size: x-large;
    text-align: center;
    border: 3px solid black;
    margin: auto;
    max-width: 75%;
    background-color: #d0d0d0;
    padding: 15px;
    margin-top: 30px;
    font-weight: bold;

}

#projects h2 {
    text-decoration: underline;
    text-transform: capitalize;
}

#projects {
    margin-top: 70px;
    margin-left: 12%;
    padding: 3px;
    clear: both;
    font-weight: bold;
    font-size: large;
    color: #373f4a;
    border: 3px solid black;
    background-color: #d0d0d0;
    width: 75%;
    text-align: center;

}

.customer {
    text-transform: capitalize;
    text-decoration: underline;
}

#square-border-one {
    height: 433px;
    width: 650px;
    border: hidden;
    display: block;
    margin: auto;
    clear: both;
    padding-top: 5%;
    padding-bottom: 1%;
}

#square-img-one {
    background: url('../images/humphrey-muleba-dDp-6pXrYik-unsplash\ copy.jpg\ 2.jpg') no-repeat center center;
    height: 100%;
}

.text-field {
    margin: auto;
    color: #373f4a;
    text-align: center;
    border: 3px solid black;
    font-size: x-large;
    font-weight: bolder;
    max-width: 60%;
    background-color: #d0d0d0;
    padding: 15px;
}

#square-border-two {
    height: 400px;
    width: 520px;
    border-style: hidden;
    display: block;
    margin: auto;
    clear: both;
    padding-top: 2%;
    padding-bottom: 1%;
}

#square-img-two {
    background: url('../images/samuel-girven-GMJFpZGatP0-unsplash\ copy.jpg') no-repeat center center;
    height: 100%;
}


#square-border-three {
    height: 333px;
    width: 500px;
    border-style: hidden;
    display: block;
    margin: auto;
    clear: both;
    padding-top: 3%;
    padding-bottom: 1%;
}

#square-img-three {
    background: url('../images/jelmer-assink-gzeTjGu3b_k-unsplash\ copy.jpg') no-repeat center center;
    height: 100%;
}

.price {
    font-weight: bold;
    font-size: xx-large;
}

#contact-us h2 {
    text-decoration: underline;
}

#contact-us {
    margin-top: 30px;
    margin-left: 10%;
    float: left;
    padding: 9px;
    clear: left;
    font-size: large;
    color: #373f4a;
    border: 3px solid black;
    background-color: #d0d0d0;
    width: 75%;
}

#form {
    clear: both;
    margin-left: 10%;
    color: whitesmoke;
    padding-top: 9px;
    box-sizing: border-box;
    font-size: large;
}

input[type=text] {
    width: 15%;
    padding: 3px;
    margin: 3px 0;
    box-sizing: border-box;
}

#form label:hover {
    color: #ea5315;
}

#form,
#submit {
    margin-top: 3%;
    padding: 9px;
    color: #ea5315;
    background-color: #373f4a;
}

#submit:hover {
    color: #373f4a;
    background-color: #ea5315;
}

#text-area {
    width: 30%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: white;
    font-size: 16px;
}

.social-links {
    list-style-type: none;
}

footer {
    width: 100%;
    height: 100px;
}

.social-links a {
    text-decoration: none;
}

.social-links li {
    display: inline;
}

.social-links {
    text-align: center;
}

.social-links i {
    font-size: 270%;
    color: black;
    padding: 5%;
    margin: 1%;
}

.social-links li i:hover {
    color: #ea5315;
}

@media screen and (max-width: 1050px) {
    #logo {
        font-size: 300%;
        width: auto;
        margin: auto;
    }

    #nav-link li {
        font-size: 75%;
        font-weight: bolder;
        margin: 3px;
        padding-right: 9px;
    }

    #form input {
        margin: auto;
        width: 25%;
    }

    textarea {
        width: 50%;
    }


}

@media screen and (max-width: 750px) {

    #logo {
        font-size: 150%;
        width: auto;
        margin: auto;
    }

    #hero {
        background: url(..//images/javier-santos-guzman-9MR78HGoflw-unsplash\ copy.jpg) no-repeat center center;
        width: auto;
        margin: auto;
        padding-top: 50px;
    }

    #welcome {
        font-size: 200%;
    }

    .social-links {
        padding-right: 10%;
        width: auto;
        margin: auto;
    }

    #projects {
        max-width: 100%;
    }

    .text-field {
        max-width: 80%;
    }

    #square-border-one {
        width: auto;
    }

    #square-border-two {
        width: auto;
    }

    #square-border-three {
        width: auto;
    }

    #nav-link li {
        font-size: 10%;
        font-weight: bolder;
        float: right;
        margin: auto;
        padding: 3px;
    }

    #nav-link li,
    #logo {
        line-height: 30px;
    }

    #form input {
        margin: auto;
        width: 50%;
    }

    textarea {
        width: 90%;
    }
}